@import "../../../Variables.module.scss";

#puzzleBoxQuestion{
    display: none;
    width: 35%;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h2{
        width: 98%;
        text-align: center;
    }
}